/* Global Variables defined on the HTML Element */
:root { 
    --main-text-color: #e62787;
    --foreground-color: #b2ceac;
    --background-color: #ffffff;
}

*, html {
    margin:0;
    padding:0;  
}

body {
    font-family: Georgia, Utopia, 'Times New Roman', Times, serif;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

#top-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: var(--foreground-color);
    line-height: 35px;
}
#top-header-text {
    grid-column-start: 2;
    font-size: 18px;
    font-weight: 700;
    text-align: center; 
    color: black;    
}
#top-header-options {
    grid-column-start: 3;
    text-align: center;
    margin-right: 5%;
}
#top-header-options li {
    display: inline;
    padding: 5px;
}
#top-header-options li a {
    color: white;
    transition: 0.5s;    
}
#top-header-options li a:hover {
    color: var(--main-text-color);
}

#site-name {
    margin: 20px auto;
    font-size: 72px;
    text-align: center;
    color: var(--main-text-color);
}

#main-navbar {
    background-color: var(--foreground-color);
}
#main-navbar-items {
    text-align: center;
}
#main-navbar-items li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
#main-navbar-items li:hover {
    cursor: pointer;
}
#main-navbar-items li a {
    text-decoration: none;
    display: block;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}
#main-navbar-items li a:hover {
    color: black;
}
#main-navbar-items li.dropdown {
    position: relative;
}
#main-navbar-items li div.dropdown-content {
    display: none;
    position: absolute;
}
#main-navbar-items li div.dropdown-content:hover {
    display: block;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}